* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

.contact_header {
    width: 100%;
    max-width: 1200px;
    border: 1px solid #5555;
    border-radius: 20px;
    padding: 3rem 2rem;
    background: #fff;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contact_header_h1 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact_header_h1 img {
    margin-right: 1rem;
}

.contact_header_text p {
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.contact_header_text p i {
    font-size: 30px;
    color: #862000;
    margin-right: 0.5rem;
}


.contact_header_text p a {
    color: #862000;
}

.contact_header_text p a:hover {
    text-decoration: underline;
}

.contact_main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.contact_main iframe {
    width: 100%;
    padding: 0.5rem;
}

.contact_h1 h1 {
    margin-bottom: 1rem;
    color: #272727;
}

.contact_main_h1 p {
    color: #444444;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact_main_h1 p i {
    font-size: 25px;
    color: #862000;
    margin-right: 0.5rem;
}


@media (max-width:450px) {
    .contact_header {
        width: 100%;
        max-width: 1200px;
        border: 1px solid #5555;
        border-radius: 20px;
        padding: 2rem 1rem;
        background: #fff;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}