* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, Helvetica, sans-serif;
    scrollbar-color: #d1d1d1 #333 !important;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #d1d1d1 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #eee;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    border-radius: 10px;
    /* border: 3px solid #fff5f5; */
  }












.home_container {
    width: 100%;
    position: relative;
}

.navbar {
    width: 100%;
    margin: auto;
    /* max-width: 1200px; */
    padding-top: 20px;
    margin-bottom: 5%;
    padding: 1rem 6rem;
} 

.header_img {
    position: relative;
    width: 100%;
    height: 900px;
    margin-bottom: 5%;
}

.header_bg {
    position: absolute;
    top: 0;
    background: url(./img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 861px;
    z-index: -1;
}

.nav_card {
    display: flex;
    color: #fff;
    font-size: 18px;
}

.nav_cards {
    margin-right: 2rem;
}

.nav_cards .nav_cards_h06 {
    margin-bottom: 0.3rem;
    font-size: 15px;
}

.nav_cards i {
    padding-right: 0.5rem;
    font-weight: 600;
    font-size: 20px;
}

.nav_btn button {
    background: transparent;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    border: 1px solid #ffe100;
    transition: all .4s ease;
}

.nav_btn button:hover {
    color: #862000;
    background: #ffe100;
}

.nav_btn p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.5rem;
}

.nav_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.nav_links ul {
    display: flex;
    align-items: center;
}

.nav_links ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-right: 2rem;
}

.nav_adres {
    width: 100%;
    max-width: 380px;
    color: #fff;
}

.qora {
    min-height: 861px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8))!important;
    padding: 20px;
    z-index: -1;
}

.home_left {
    width: 100%;
    max-width: 1200px;
    margin-left: 3%;
    margin-top: 15%;
}

.nav_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_header_h1 {
    font-weight: bold;
    font-size: 38px;
    text-align: left;
    padding: 16px;
    color: white;
}

.home_header_p {
    text-align: left;
    font-size: 24px;
    line-height: 30px;
    padding: 16px 16px 32px;
    color: white;
}

.home_header_btns .home_btn1 {
    width: 100%;
    max-width: 234px;
    height: 61px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: #272727;
    background-color: #ffe100;
    margin: 8px;
    border: none;
    font-size: 16px;
    transition: .4s ease;
}

.home_btn1:hover {
    scale: 1.01;
}

.home_header_btns .home_btn2 {
    width: 100%;
    max-width: 290px;
    height: 61px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    background-color: #862000;
    font-size: 16px;
    margin: 8px;
    border: none;
    transition: .4s;
}

.home_btn2:hover {
    scale: 1.01;
}

.nav_btn2 {
    display: none;
}

.nav_links2 {
    position: fixed;
    top: 0;
    right: -500px;
    transition: 0.5s;
    background: #000000e1;
    width: 400px;
    min-height: 697px;
    padding: 20px;
}

.nav_media {
    display: none;
}

#close {
    font-size: 28px;
    color: #fff;
    transition: all .4s ease;
}

.nav_li {
    display: flex;
    justify-content: space-between;
}

.home_main_card {
    display: flex;
    width: 100%;
    max-width: 1650px;
    overflow: scroll;
    margin: 3rem;
}

.home_med_card {
    display: flex;
    width: 100%;
    max-width: 1650px;
    overflow: scroll;
    margin: 3rem;
}

.home_med_cards {
    display: block;
    min-width: 300px;
    min-height: 400px;
    border-radius: 20px;
    background: #eee;
    margin: 0.6rem;
    position: relative;
    cursor: pointer;
}

.home_main_cards {
    display: block;
    min-width: 300px;
    min-height: 400px;
    border-radius: 20px;
    background: #eee;
    margin: 0.6rem;
    position: relative;
    cursor: pointer;
}

.home_main_cards img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: .5s;
}

.home_main_cards img:hover {
    scale: 1.01;
}

.home_main_text {
    padding: 1rem;
}

.home_med_cards img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: .5s;
}

.home_med_cards img:hover {
    scale: 1.01;
}

.home_med_text {
    padding: 1rem;
}

.cards_yellow {
    width: 100%;
    max-width: 120px;
    height: 30px;
    border-radius: 5px;
    background: #ffe100;
    color: #000000;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    padding: 5px;
    font-weight: 200;
}

.cards_yellow i {
    font-size: 14px;
    padding-right: 5px;
}

.home_main_cards_h05 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.home_main_narx {
    font-size: 20px;
    color: #862000;
    margin-top: 0.5rem;
    font-weight: 600;
    text-align: center;
}

.home_med_cards_h05 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.home_med_narx {
    font-size: 20px;
    color: #862000;
    margin-top: 0.5rem;
    font-weight: 600;
    text-align: center;
}

.home_end_bg {
    width: 100%;
    overflow: hidden;
}

.home_end_bg img {
    transition: .5s ease;
}

.home_end_bg img:hover {
    scale: 1.05 ;
}











/* media css */
@media (max-width:1100px) {
    .home_header_h1 {
        font-weight: bold;
        font-size: 26px;
        text-align: left;
        padding: 16px;
        color: white;
    }   

    .nav_logo img {
        width: 100%;
        max-width: 140px;
    }

    .home_left {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 20%;
    }

    .navbar {
        width: 100%;
        max-width: none;
        padding-top: 20px;
        margin-bottom: 5%;
        padding: 1rem 6rem;
    }

    .nav_btn p {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        margin-top: 0.5rem;
    }
}

@media (max-width:900px) {
    .nav_links {
        display: none;
    }

    .nav_card {
        display: none;
    }

    .nav_btn {
        display: none;
    }

    .nav_btn2 {
        display: block;
    }

    .nav_link2 {
        width: 100%;
        min-height: 109vh;
        background: #000000;
    }

    .nav_link2 ul {
        width: 100%;
        display: block;
    }
    
    .nav_links2 ul li a {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid #ffe100;
        padding-bottom: 0.5rem;
    }

    .nav_links2 ul li {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .nav_media {
        display: flex;
        color: #fff;
        font-size: 35px;
        transition: all .4s ease;
    }

    .nav_media:hover {
        color: #ffe100;
    }

    .nav_btn2 button {
        background: transparent;
        width: 200px;
        height: 45px;
        border-radius: 30px;
        cursor: pointer;
        color: #fff;
        font-weight: 700;
        border: 1px solid #ffe100;
        transition: all .4s ease;
    }
    
    .nav_btn2 button:hover {
        color: #862000;
        background: #ffe100;
    }
    
    .nav_btn2 p {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-top: 0.5rem;
    }
}