* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, Helvetica, sans-serif;
    scrollbar-color: #4E9200 #333 !important;
}


.phone_number a {
    cursor: pointer;
    color: #fff;
}

.black_number a {
    color: #000000;
}

.black_number a:hover {
    text-decoration: underline;
}

.phone_number:hover {
    text-decoration: underline;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #4E9200 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #eee;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4E9200;
    border-radius: 5px;
    /* border: 3px solid #fff5f5; */
  }












.home_container {
    width: 100%;
    position: relative;
}

.navbar {
    width: 100%;
    margin: auto;
    max-width: 1200px;
    padding-top: 20px;
    /* padding: 1rem 6rem; */
    padding: 20px;
} 

.header_img {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 900px;
    margin-bottom: 5%;
}

.header_bg {
    position: absolute;
    top: 0;
    background: url(https://vistroydom.ru/image/body_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 900px;
    z-index: -1;
}
/* .white_main{
    padding: 20px;
} */
.main_black{
    padding: 20px;
}
.white_main .nav_card {
    display: flex;
    color: #fff;
    font-size: 18px;
}
.main_black .nav_card {
    display: flex;
    color: black;
    font-size: 18px;
}

.nav_cards {
    margin-right: 2rem;
}

.nav_cards .nav_cards_h06 {
    margin-bottom: 0.3rem;
    font-size: 15px;
}

.nav_cards i {
    padding-right: 0.5rem;
    font-weight: 600;
    font-size: 20px;
}

.white_main .nav_btn button {
    background: transparent;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    border: 1px solid #4E9200;
    transition: all .4s ease;
}
.main_black .nav_btn button {
    background: transparent;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    cursor: pointer;
    color: #4E9200;
    font-weight: 700;
    border: 1px solid #4E9200;
    transition: all .4s ease;
}

.nav_btn button:hover {
    color: #fff;
    background: #4E9200;
    -webkit-box-shadow:0px 0px 123px 42px rgba(78,146,0,0.45);
    -moz-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
}

.main_black .nav_btn button:hover {
    color: #fff;
    background: #4E9200;
    -webkit-box-shadow:0px 0px 123px 42px rgba(78,146,0,0.45);
    -moz-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
}

.white_main .nav_btn p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.5rem;
}
.main_black .nav_btn p {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.5rem;
}

.nav_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.nav_links ul {
    display: flex;
    align-items: center;
}

.white_main .nav_links ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-right: 2rem;
}
.main_black .nav_links ul li a {
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-right: 2rem;
}

.nav_adres {
    width: 100%;
    max-width: 380px;
    color: #fff;
}

.qora {
    min-height: 900px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8))!important;
    padding: 20px;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.home_left {
    width: 100%;
    max-width: 800px;
    margin-top: 300px;
}

.qora img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    max-width: 600px;
    width: 60%;
}
.navbar_color{
    color: #4E9200 !important;
}
.nav_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_header_h1 {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: white;
}

.home_header_p {
    text-align: left;
    font-size: 24px;
    line-height: 30px;
    padding: 40px 0px;
    color: white;
}

.home_header_btns .home_btn1 {
    width: 100%;
    max-width: 234px;
    height: 61px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: #272727;
    background-color: #ffe100;
    margin: 8px;
    border: none;
    font-size: 16px;
    transition: .4s ease;
}

.home_btn1:hover {
    scale: 1.01;
}

.home_header_btns .home_btn2 {
    width: 100%;
    max-width: 290px;
    height: 61px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    background-color: #4E9200;
    font-size: 16px;
    margin: 8px;
    border: none;
    transition: .4s;
}

.home_btn2:hover {
    scale: 1.01;
}

.nav_btn2 {
    display: none;
}

.nav_links2 {
    position: fixed;
    top: 0;
    right: -500px;
    transition: 1s;
    background: #000000;
    width: 400px;
    height: 100vh;
    padding: 20px;
}
.nav_li img{
    margin-bottom: 20px;
}
.nav_media {
    display: none;
}

#close {
    font-size: 28px;
    color: #fff;
    transition: all .4s ease;
}

.nav_li {
    display: flex;
    justify-content: space-between;
}

.home_main_card {
    display: flex;
    width: 100%;
    max-width: 1650px;
    overflow: scroll;
    margin: 3rem;
}

.home_med_card {
    display: flex;
    width: 100%;
    /* max-width: 1650px; */
    overflow: scroll;
    margin: 3rem;
}

.home_med_cards {
    display: block;
    width: 100%;
    min-height: 400px;
    border-radius: 20px;
    background: #eee;
    position: relative;
    cursor: pointer;
}
.home_container .swiper-pagination-bullet{
    width: 20px !important;
    height: 20px !important;
}
.home_main_cards {
    display: block;
    width: 100%;
    min-height: 400px;
    border-radius: 20px;
    background: #eee;
    position: relative;
    cursor: pointer;
}

.home_main_cards img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: .5s;
}

.home_main_cards img:hover {
    scale: 1.01;
}

.home_main_text {
    padding: 1rem;
}
#mySwiper{
    margin-top: 80px;
}
.home_med_cards img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: .5s;
}

.home_med_cards img:hover {
    scale: 1.01;
}

.home_med_text {
    padding: 1rem;
}

.cards_yellow {
    width: 100%;
    max-width: 150px;
    height: 30px;
    border-radius: 5px;
    background: #ffe100;
    color: #000000;
    display: flex;
    align-items: center !important ;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    padding: 5px;
    font-weight: 200;
}

.cards_yellow i {
    font-size: 18px;
    padding-right: 5px;
}

.home_main_cards_h05 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.home_main_narx {
    font-size: 20px;
    color: #4E9200;
    margin-top: 0.5rem;
    font-weight: 600;
    text-align: center;
}

.home_med_cards_h05 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.home_med_narx {
    font-size: 20px;
    color: #4E9200;
    margin-top: 0.5rem;
    font-weight: 600;
    text-align: center;
}

.home_end_bg {
    width: 100%;
    overflow: hidden;
    margin-top: 3rem;
}

.home_end_bg img {
    transition: .5s ease;
}

.home_end_bg img:hover {
    scale: 1.05 ;
}

.white_main .nav_card2 {
    display: none;
    color: #fff;
    font-size: 18px;
}
.main_black .bi-list{
    color: black;
}
.nav_links2 p{
    color: white;
    margin-top: 10px;
    display: none;
}










/* media css */
@media (max-width:1200px) {
    .home_header_dom {
        display: none;
    }
}
@media (max-width:1100px) {
    .home_header_h1 {
        font-weight: bold;
        font-size: 26px;
        text-align: left;
        color: white;
    }   

    .nav_logo img {
        width: 100%;
        max-width: 140px;
    }

    .home_left {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 200px;
    }

    /* .navbar {
        width: 100%;
        max-width: none;
        padding-top: 20px;
        margin-bottom: 5%;
        padding: 1rem 6rem;
    } */

    .nav_btn p {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        margin-top: 0.5rem;
    }
}


@media (max-width: 1000px){
.nav_links {
    display: none;
}
}
@media(max-width:500px){
    .home_header_btns .home_btn1 {
        width: 100%;
        max-width: 220px;
        padding: 20px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        color: #272727;
        background-color: #ffe100;
        margin: 8px;
        border: none;
        font-size: 15px;
        transition: .4s ease;
    }
    .home_btn2 {
        width: 100%;
        max-width: 220px;
        padding: 20px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        color: #fff;
        background-color: #4E9200;
        font-size: 15px;
        margin: 8px;
        border: none;
        transition: .4s;
    }
    .nav_links2{
        width: 100%;
        z-index: 11111;
    }
}
@media(max-width:720px){
    .nav_card{
        display: none !important;
    }
    .home_header_h1 {
        font-size: 20px;
    }
    .home_header_p{
        font-size: 18px;
    }
    .home_header_btns .home_btn1 {
        width: 100%;
        max-width: 150px;
        height: 55px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        color: #272727;
        background-color: #ffe100;
        margin: 8px;
        border: none;
        font-size: 15px;
        transition: .4s ease;
    }
    .home_btn2 {
        width: 100%;
        max-width: 220px;
        height: 55px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        color: #fff;
        background-color: #4E9200;
        font-size: 15px;
        margin: 8px;
        border: none;
        transition: .4s;
    }
}
@media(min-width:1500px){
    .home_card_black .top-section{
        height: 300px !important;
    }
}
@media (min-width: 300px ) and (max-width:600px){
    .home_card_black .top-section {
        height: 60vw !important;
    }
    }

@media (min-width: 600px) and (max-width:900px){
    .home_card_black .top-section {
        height: 33vw !important;
    }   
}
@media (min-width: 900px) and (max-width:1500px){
    .home_card_black .top-section {
        height: 20vw !important;
        }
    }

@media (max-width:900px) {
    .header_img{
        min-height: 700px;
    }
    .qora{
        min-height: 700px;
    }
    .nav_links {
        display: none;
    }
    .home_left{
        margin-top: 0;
    }
    .nav_card {
        display: none;
    }
    .home_main{
        margin-top: 50px;
    }
    .nav_btn {
        display: none;
    }

    .nav_btn2 {
        display: block;
    }

    .white_main .nav_card {
        display: none;
        color: #fff;
        font-size: 18px;
    }

    .white_main .nav_card2 {
        display: block;
        color: #fff;
        font-size: 18px;
        margin-top: 1rem;
    }

    .nav_card2 .nav_cards2 {
        margin-bottom: 1rem;
    }

    .nav_link2 {
        width: 100%;
        min-height: 109vh;
        background: #000000;
    }

    .nav_link2 ul {
        width: 100%;
        display: block;
    }
    
    .nav_links2 ul li a {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid #4E9200;
        padding-bottom: 0.5rem;
    }

    .nav_links2 ul li {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .nav_media {
        display: flex;
        color: #fff;
        font-size: 35px;
        transition: all .4s ease;
    }

    .nav_media:hover {
        color: #ffe100;
    }

    .nav_btn2 button {
        background: transparent;
        width: 200px;
        height: 45px;
        border-radius: 30px;
        margin: 10px 0px;
        cursor: pointer;
        color: #fff;
        font-weight: 700;
        border: 1px solid #4E9200;
        transition: all .4s ease;
    }
    
    .nav_btn2 button:hover {
        color: #fff;
        background: #4E9200;
        -webkit-box-shadow:0px 0px 123px 42px rgba(78,146,0,0.45);
        -moz-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
        box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    }
    
    .nav_btn2 p {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-top: 0.5rem;
    }
}

@media (max-width:750px) {
    .home_header_h1 {
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        padding: 16px;
        color: white;
    }

    .home_header_p {
        text-align: left;
        font-size: 20px;
        line-height: 30px;
        padding: 16px 16px 32px;
        color: white;
    }
}

@media (max-width:420px) {
    .home_header_p {
        text-align: left;
        font-size: 16px;
        line-height: 30px;
        padding: 16px 16px 32px;
        color: white;
    }   
.home_main{
    margin-top: 0px;
}
    .header_img {
        position: relative;
        width: 100%;
        min-height: 500px;
        /* margin-bottom: 5%; */
    }

    .home_main_cards {
        display: block;
        min-width: fit-content;
        width: 282px;
        min-height: 400px;
        border-radius: 20px;
        background: #eee;
        margin: 0.7rem;
        position: relative;
        cursor: pointer;
    }

    .home_med_cards {
        display: block;
        min-width: fit-content;
        width: 282px;
        min-height: 400px;
        border-radius: 20px;
        background: #eee;
        margin: 0.7rem;
        position: relative;
        cursor: pointer;
    }

    .home_header_h1 {
        font-weight: bold;
        font-size: 10px;
        text-align: left;
        padding: 16px;
        color: white;
        margin-top: 6rem;
    }

    .home_header_btns .home_btn1 {
        width: 100%;
        max-width: none;
        height: 61px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        color: #272727;
        background-color: #ffe100;
        border: none;
        font-size: 16px;
        transition: .4s ease;
        margin: auto;
        margin-bottom: 1rem;
    }

    .header_bg {
        position: absolute;
        top: 0;
        background: url(https://vistroydom.ru/image/body_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 620px;
        z-index: -1;
    }

    .qora {
        min-height: 500px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8))!important;
        padding: 20px;
        z-index: -1;
    }

    .home_header_dom {
        position: relative;
        z-index: 1;
    }

    .home_left {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .qora img {
        position: absolute;
        right: 0;
        max-width: 600px;
        width: 100%;
    }

    .home_header_btns .home_btn2 {
        width: 100%;
        max-width: none;
        height: 61px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        color: #fff;
        background-color: #4E9200;
        border: none;
        transition: .4s;
        margin: auto;
    }
}

@media (max-width: 350px) {
    .home_header_p {
        text-align: left;
        font-size: 13px;
        line-height: 30px;
        padding: 3px 16px 10px;
        color: white;
    }   
}








.home_main{
    padding: 20px !important;
}
/* swiper css  */
.home_container .swiper {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding-top: 100px !important;
  }

  .home_container .swiper-slide {
    text-align: left;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
.white_main{
    overflow: hidden;
}
  .home_container .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .nav_links ul li a:hover{
    color: #4E9200 !important;
  }
  .red_hover:hover{
    color: #4E9200 !important;
}
.red_hover{
    transition: 0.5s;
}
  .nav_links ul li a{
    transition: 0.5s;
  }
  .home_container .swiper-button-next, .home_container .swiper-rtl .home_container .swiper-button-prev{
    right: 0px !important;
    top: 40px !important;
    background-color: #333 !important;
    padding: 20px !important;
    border-radius: 5px;
    font-size: 15px !important;
  }
  .home_container .swiper-button-prev, .home_container .swiper-rtl .home_container .swiper-button-next{
    right: 50px !important;
    left: auto !important;
    top: 40px !important;
    background-color: #333 !important;
    padding: 20px !important;
    font-size: 15px !important;
    border-radius: 5px;
  }
  .home_container .swiper-button-next:after, .home_container .swiper-button-prev:after{
    font-size: 15px !important;
    color: white !important;
  }


  .home_card_black {
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    background: #333;
    padding: 10px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .home_card_black:hover .top-section {
    background-size: 120% 120% !important;
  }
  
  .home_card_black .top-section {
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    transition: 1s;
    height: 18vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
    position: relative;
  }
  
  .home_card_black .top-section .border {
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 130px;
    background: white;
    background: #333;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 #333;
  }
  
  .home_card_black .top-section .border::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
    box-shadow: -5px -5px 0 2px #333;
  }
  
  .home_card_black .top-section::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(255, 255, 255, 0);
    height: 15px;
    width: 15px;
    border-top-left-radius: 15px;
    box-shadow: -5px -5px 0 2px #333;
  }
  
  .home_card_black .top-section .icons {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .home_card_black .top-section .icons .logo {
    height: 100%;
    width: 100%;
    color: white;
    padding-left: 10px;
    font-weight: 700;
    font-size: 15px;
  }
  .bottom-section button{
    margin: auto;
    display: flex;
    margin-top: 20px;
    width: 60%;
    justify-content: center;
    height: 45px;
    align-items: center;
    border-radius: 8px;
    border: none;
    background: none;
    color: white;
    border: 2px solid white;
    transition: 0.7s;
    cursor: pointer;
  }
  .bottom-section button:hover{
    background-color: white;
    color: black;
  }
  .home_card_black .top-section .icons .logo .top-section {
    height: 100%;
  }
  
  .home_card_black .top-section .icons .social-media {
    height: 100%;
    padding: 8px 15px;
    display: flex;
    gap: 7px;
  }
  
  .home_card_black .top-section .icons .social-media .svg {
    height: 100%;
    fill: #333;
  }
  
  .home_card_black .top-section .icons .social-media .svg:hover {
    fill: white;
  }
  
  .home_card_black .bottom-section {
    padding: 20px 5px;
  }
  
  .home_card_black .bottom-section .title {
    display: block;
    font-size: 17px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .home_card_black .bottom-section .row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .home_card_black .bottom-section .row .item {
    flex: 30%;
    text-align: center;
    padding: 5px;
    color: white;
  }
  
  .home_card_black .bottom-section .row .item .big-text {
    font-size: 14px;
    display: block;
  }
  
  .home_card_black .bottom-section .row .item .regular-text {
    font-size: 14px;
  }
  
  .home_card_black .bottom-section .row .item:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.126);
    border-right: 1px solid rgba(255, 255, 255, 0.126);
  }
  .swiper-slide img{
    width: 100%;
  }
  .katalog_swiper{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 15px;
}
.katalog_swiper_in{
    width: 62%;
}
.right_swiper{
    width: 400px;
    margin-left: 25px;
}
.katalog_swiper .swiper-wrapper{
    height: 500px !important;
}
.katalog_swiper .mySwiper .swiper-wrapper{
    height: auto !important;
}
.katalog_swiper .mySwiper{
    margin-top: 10px;
}
.katalog_swiper .swiper-slide img{
    border-radius: 10px
}
.swiper-backface-hidden .swiper-slide{
    overflow: hidden;
    border-radius: 10px;
}
#swiper-wrapper .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#swiper-wrapper .swiper-slide img{
    height: 100%;
    border: 1px solid #333;
    width: 99.5%;
}
.swipers_flex{
    display: flex;
}
#swiper-wrapper img{
    cursor: pointer;
}
#swiper-button-next, #swiper-button-prev{
    color: black !important;
}
#swiper-button-prev, #swiper-button-next {
    color: black !important;
}

.right_swiper h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 1.5rem;
    text-align: center;
}

.right_swiper p {
    margin-top: 10px;
    line-height: 36px;
    font-weight: 200;
    font-size: 20px;
    color: #444444;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #dadbdc;
    padding: 10px 0px;
}
.right_swiper p span{
    color: #4E9200;
    font-weight: 600;
}
.right_swiper h3 {
    color: #4E9200;
    margin-bottom: 1rem;
    font-size: 30px;
    margin-top: 1rem;
}

.right_swiper button {
    width: 100%;
    height: 55px;
    background-color:#ffe100;
    border-radius: 10px;
    color: black;
    border: none;
    margin-top: 50px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    transition: .4s cubic-bezier(0.23, 1, 0.320, 1);
    transition: 0.8s;
}
.katalog_swiper .swiper-button-next, .swiper-rtl .swiper-button-prev{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
}
.katalog_swiper .swiper-button-prev, .swiper-rtl .swiper-button-next{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
}
.katalog_swiper .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 16px !important;
}
.katalog_swiper .right_swiper button:hover {
    background: #4E9200;
    color: #fff;
}
.calculation_first{
    display: flex;
    justify-content: space-between;
}
.calculation{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 80px;
}
.calculation_first_card{
    text-align: center;
    border: 1px solid gray;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px 10px;
    width: 19.5%;
    border-radius: 7px;
    transition: 0.5s;
    border: 2px solid #333;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculation_first_card:hover{
    background-color: white;
    border: 2px solid #333;
    color: black;
}
.calculation_first_card h2{
    font-size: 16px;
    font-weight: 600;
}
.calculation_table{
    margin-top: 20px;
}
.calculation_table_cards{
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 7px;
    background-color: #333;
    padding: 15px 10px;
}
.calculation_table_card h2{
    font-size: 16px;
    font-weight: 400;
    color: white;
    height: 100%;
}
.calculation_table_card h3{
    font-size: 16px;
    font-weight: 400;
    color: white;
}
#calculation_h2{
    width: 30%;
    padding: 0px 10px;
}
#calculation_h3{
    width: 70%;
    padding: 10px 10px;
    border-left: 2px solid white;
}
#calculation_swiper{
    overflow: hidden;
    position: relative;
}
#calculation_swiper .calculation_first_card{
    width: 100%;
    display: none;
}
#calculation_swiper .swiper-button-next, .home_container .swiper-rtl .home_container .swiper-button-prev {
    right: 0px !important;
    top: 40px !important;
    background-color: #333 !important;
    padding: 20px !important;
    border-radius: 5px;
    font-size: 15px !important;
}
#calculation_swiper .swiper-button-next:after, .home_container .swiper-button-prev:after {
    font-size: 15px !important;
    color: white !important;
}
#calculation_swiper .swiper-button-prev, .home_container .swiper-rtl .home_container .swiper-button-next {
    right: 50px !important;
    left: auto !important;
    top: 40px !important;
    background-color: #333 !important;
    padding: 20px !important;
    font-size: 15px !important;
    border-radius: 5px;
}
#calculation_swiper #swiper-button-next1:after, #swiper-button-prev1:after {
    font-size: 15px !important;
    color: white !important;
}
.table_h3{
    text-align: right;
    font-size: 30px;
    margin-top: 20px;
}
.table_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: transparent;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    cursor: pointer;
    color: #4E9200;
    font-weight: 700;
    border: 1px solid #4E9200;
    transition: all .4s ease;
    margin-top: 50px !important;
}
.table_button:hover{
    color: #fff;
    background: #4E9200;
    -webkit-box-shadow:0px 0px 123px 42px rgba(78,146,0,0.45);
    -moz-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
}
.table_2{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 80px;
}
.table2_cards{
    display: flex;
    background-color: #333;
    padding: 15px 10px;
    margin-top: 10px;
    border-radius: 7px;
    align-items: center;
}
.table2_cards h2{
    font-size: 16px;
    font-weight: 400;
    color: white;
}
.table2_cards h3{
    font-size: 16px;
    font-weight: 400;
    color: white;
    padding: 10px 10px;
}
#table2_card_h2{
    width: 70%;
    padding: 10px 10px;
}
#table2_card_inp{
    width: 30%;
    border-left: 2px solid white;
    padding: 10px 10px;
}
#table2_card_inp input{
    accent-color: #4E9200;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
#table2_card_h3{
    width: 70%;
    border-left: 2px solid white;
}
.for_table_2_cards{
    margin-top: 40px;
}
.for_table_2_cards h4{
    text-align: right;
    font-size: 23px;
    margin-top: 20px;
}
.for_table_2_cards h5{
    text-align: right;
    font-size: 30px;
}
.for_table_2_flex{
    display: flex;
    width: 30%;
}



@media(max-width:750px){
    .calculation_table_cards{
        display: block;
        text-align: center;
    }
    #calculation_h2{
        width: 100%;
        border-left: 0px;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
    }
    #calculation_h2 h2{
        color: black;
    }
    #calculation_h3{
        width: 100%;
        border-left: 0px;
    }
}
@media(max-width:1200px){
    .katalog_swiper .swiper-wrapper{
        height: auto !important;
    }
}
@media(max-width:1000px){
    .right_swiper{
        width: 35%;
    }
    .calculation_first_card h2 {
        font-size: 14px;
        font-weight: 400;
    }
    .right_swiper p{
        line-height: 28px;
        font-size: 18px;
    }
    .right_swiper h2{
        font-size: 25px;
    }
}
@media(max-width:800px){
    .katalog_swiper{
        display: block;
    }
    .katalog_swiper_in{
        width: 100%;
    }
    #calculation_swiper{
        padding-top: 100px;
    }
    .right_swiper{
        width: 100%;
        margin-left: auto;
        margin-top: 30px;
    }
    #calculation_swiper .calculation_first_card{
        display: flex;
    }
    .calculation_first_card{
        display: none;
    }
}
@media (max-width:600px) {
    .katalog_swiper {
        max-width: 1200px;
        width: 100%;
        margin: auto;
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .table2_cards{
        display: block;
    }
    #table2_card_h2{
        width: 100%;
        background-color: white;
        border-radius: 5px;
        text-align: center;
    }
    .for_table_2_flex{
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }
    #table2_card_inp{
        width: auto;
        border-left: none;
    }
    #table2_card_h2 h2{
        color: black;
    }
    #table2_card_h3{
        width: auto;
    }
}
@media(max-width:480px){
    .katalog_swiper .swiper-button-next, .swiper-rtl .swiper-button-prev{
        width: 35px !important;
        height: 35px !important;
        padding: 0;
    }
    .katalog_swiper .swiper-button-prev, .swiper-rtl .swiper-button-next{
        width: 35px !important;
        height: 35px !important;
        padding: 0;
    }
    .katalog_swiper .swiper-button-next:after, .swiper-button-prev:after{
        font-size: 14px !important;
    }
    .cancel_div h1 {
        font-weight: 100;
        color: #707070;
        font-size: 14px !important;
        margin-right: 6px !important;
    }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

.zakaz_header {
    width: 100%;
    max-width: 1200px;
    border: 1px solid #4E9200;
    border-radius: 20px;
    padding: 3rem 2rem;
    background: #fff;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.zakaz_header_h1 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.zakaz_header_h1 img {
    margin-right: 1rem;
}

.zakaz_header_text p {
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.zakaz_header_text p a {
    color: #4E9200;
}

.zakaz_header_text p a:hover {
    text-decoration: underline;
}



@media (max-width:450px) {
    .zakaz_header {
        width: 100%;
        max-width: 1200px;
        border: 1px solid #4E9200;
        border-radius: 20px;
        padding: 2rem 1rem;
        background: #fff;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.home_end_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
}
.header_bottom_img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.header_img{
    position: relative;
}
.home_end_left {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.home_end_top_h1 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.home_end_top_h1 img {
    margin-right: 1rem;
}

.strelka_p {
    display: flex;
    align-items: center;
}

.strelka_p img {
    margin-left: 2rem;
}

.home_end_left p span {
    font-weight: 700;
}

.home_end_right {
    position: relative;
}

.home_end_right button {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #4E9200;
    color: #4E9200;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    transition: all .4s ease;
    position: absolute;
    top: 30%;
    font-weight: 600;
}

.home_end_right button:hover {
    background: #4E9200;
    color: #fff;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    -moz-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
}

.home_fundament {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 5%;
}

.fund_h1 {
    display: flex;
    align-items: center;
}

.fund_h1 img {
    margin-right: 1rem;
}

.fundament_card {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.fundament_cards {
    width: 400px;
    min-height: 400px;
    margin: 0.4rem;
    padding: 1rem;
    border: 1px solid #4E9200;
    cursor: pointer;
    border-radius: 10px;
}

.fundament_cards img {
    width: 100%;
    transition: .4s ease;
    margin-bottom: 1rem;
}

.fundament_cards img:hover {
    scale: 1.1;
}

.fundament_cards p {
    font-size: 18px;
    line-height: 23px;
    color: #373435;
}

.fundament_cards h4 {
    color: black;
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    margin-bottom: 1rem;
}

.home_footer {
    padding: 20px;
}

.footer {
    width: 100%;
    background: #111111;
    margin-top: 5%;
    padding: 2rem;
    color: #fff;
    border-radius: 20px;
}

.footer p a {
    color: #fff;
}

.footer_min {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.footer_links1 img {
    margin-bottom: 1rem;
}

.footer_tel {
    margin-bottom: 1rem;
}

.footer_tel span a {
    font-size: 18px;
    font-weight: 600;
    color: #4E9200  ;
}

.footer_tel span a:hover {
    text-decoration: underline;
}

.footer_btn button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #4E9200;
    background: transparent;
    color: #fff;
    transition: all .4s ease;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2rem;
}

.footer_btn button:hover {
    background: #4E9200;
    color:  #fff;
    -webkit-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    -moz-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
}

.foot_adres {
    margin-top: 1rem;
    width: 100%;
    max-width: 350px;
    color: #555;
}

.foot_cards p {
    margin-top: 0.4rem;
}

.foot_cards p i{
    margin-right: 0.5rem;
}

.footer_links2 h1 {
    font-size: 25px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer_links2 p {
    line-height: 30px;
}

.footer_bottom {
    width: 100%;
    max-width: 1200px;
    border-top: 1px solid #555555;
    padding-top: 1rem;
    margin: auto;
    margin-top: 2rem;
}

.footer_bottom p {
    line-height: 30px;
    color: #555;
}



@media (max-width:1100px) {
    .home_end_top {
        display: block;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        margin-top: 5%;
        padding: 20px;
    }

    .strelka_p img {
        display: none;
    }

    .home_end_left {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .home_end_right {
        width: 350px;
        margin: auto;
        position: relative;
    }

    .home_fundament {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        margin-top: 5%;
        padding: 20px;
    }
}

@media (max-width:900px) {
    .fundament_card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 3rem;
    }    
}


@media (max-width:600px) {
    .footer_bottom p {
        line-height: 30px;
        color: #555;
        margin-top: 1.5rem;
    }
}

@media (max-width:420px) {
    .home_end_right img {
        width: 100%;
    }

    .fund_h1 h1 {
        font-size: 18px;
    }

    .home_end_left {
        font-size: 15px;
    }

    .home_end_top_h1 h1 {
        font-size: 18px;
    }

    .footer_bottom p {
        line-height: 21px;
        color: #555;
        margin-top: 1.5rem;
        font-size: 13px;
    }

    .footer p a {
        font-size: 14px;
        color: #fff;
    }

    .footer_links2 h1 {
        font-size: 20px;
        margin-top: 1.5rem;
        margin-bottom: 0.8rem;
    }

    .fundament_cards p {
        font-size: 15px;
        line-height: 23px;
        color: #373435;
    }
}
.doma_iz_brusa_main .nav_card{
    color: black !important;
}
.cancel_div{
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 0px;
    margin-top: 30px;
}
.cancel_div h1{
    font-weight: 100;
    color: #707070;
    font-size: 16px;
    margin-right: 15px;
}
.main_black .navbar{
    padding: 0;
}
.doma_iz_brusa_cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-top: 80px;
}
@media(max-width:900px){
    .doma_iz_brusa_cards{
        grid-template-columns: auto auto;
    }
}
@media(max-width:600px){
    .doma_iz_brusa_cards{
        grid-template-columns: auto;
    }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

.dastavka_header {
    width: 100%;
    max-width: 1200px;
    border: 1px solid #4E9200;
    border-radius: 20px;
    padding: 3rem 2rem;
    background: #fff;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.dastavka_header_h1 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.dastavka_header_h1 img {
    margin-right: 1rem;
}

.dastavka_header_text p {
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.dastavka_header_text p a {
    color: #4E9200;
}

.dastavka_header_text p a:hover {
    text-decoration: underline;
}

.dastavka_main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.dastavka_main iframe {
    width: 100%;
    padding: 0.5rem;
}

.dastavka_main_h1 {
    padding-left: 0.5rem;
}

.dastavka_main_h1 h1 {
    margin-bottom: 1rem;
    color: #272727;
}

.dastavka_main_h1 p {
    color: #444444;
    font-weight: 600;
    margin-bottom: 1rem;
}


@media (max-width:450px) {
    .dastavka_header {
        width: 100%;
        max-width: 1200px;
        border: 1px solid #4E9200;
        border-radius: 20px;
        padding: 2rem 1rem;
        background: #fff;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

.contact_header {
    width: 100%;
    max-width: 1200px;
    border: 1px solid #4E9200;
    border-radius: 20px;
    padding: 3rem 2rem;
    background: #fff;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.contact_header_h1 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.contact_header_h1 img {
    margin-right: 1rem;
}

.contact_header_text p {
    color: #444444;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.contact_header_text p i {
    font-size: 30px;
    color: #4E9200;
    margin-right: 0.5rem;
}


.contact_header_text p a {
    color: #4E9200;
}

.contact_header_text p a:hover {
    text-decoration: underline;
}

.contact_main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.contact_main iframe {
    width: 100%;
    padding: 0.5rem;
}

.contact_h1 h1 {
    margin-bottom: 1rem;
    color: #272727;
}

.contact_main_h1 p {
    color: #444444;
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact_main_h1 p i {
    font-size: 25px;
    color: #4E9200;
    margin-right: 0.5rem;
}


@media (max-width:450px) {
    .contact_header {
        width: 100%;
        max-width: 1200px;
        border: 1px solid #4E9200;
        border-radius: 20px;
        padding: 2rem 1rem;
        background: #fff;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.zakaz_zvonok {
    position: fixed;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    display: none;
    width: 100%;
    max-width: 500px;
    background: rgba(192,227,255,1);
    border-radius:  10px;
    padding: 0.5rem 1rem;
    margin: auto;
    z-index: 10;
}

.zvonk_img {
    position: relative;
}

.zvonk_imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.zvonk_img p {
    position: absolute;
    top: 0;
    right: 0;
    color: #555;
    margin-bottom: 4rem;
    cursor: pointer;
}

.zvonk_img p:hover {
    color: #111111;
}

.zvonk_img p i {
    font-size: 13px;
}

.zvonok_text {
    display: block;
    margin-top: 2rem;
    text-align: center;
}

.qora2_bg {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #000000bd;
    display: none;
}

.zvonok_text h1 {
    color: rgba(51, 51, 51, 1);
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 1rem;
}

.zvonk_inp {
    display: block;
}

.zvonk_inp input {
    width: 100%;
    max-width: 280px;
    height: 40px;
    padding-left: 0.5rem;
    color: rgba(51, 51, 51, 1);
}

.zvonk_inp button {
    width: 280px;
    height: 40px;
    border: 1px solid #4E9200;
    color: #4E9200;
    background: transparent;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: .4s ease;
    margin-bottom: 1rem;
}

.zvonk_inp button:hover {
    background: #4E9200;
    color: #fff;
}

.zvonok_text p {
    font-size: 13px;
    color: #555555;
}

.zvonk_h3 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    cursor: pointer;
}

.zvonk_h3 h3 {
    color: #555;
    font-size: 13px;
    font-weight: 500;
    border-bottom: 2px dashed #555;
}

.zvonk_h3 h3:hover {
    color: rgba(51, 51, 51, 1);
    border-bottom: 2px dashed rgba(51, 51, 51, 1);
}

.zvonok_text p a {
    color: #555555;
}

.zvonok_text p a:hover {
    text-decoration: underline;
}

.home_end_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
}
.header_bottom_img{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.header_img{
    position: relative;
}
.home_end_left {
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}

.home_end_top_h1 {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.home_end_top_h1 img {
    margin-right: 1rem;
}

.strelka_p {
    display: flex;
    align-items: center;
}

.strelka_p img {
    margin-left: 2rem;
}

.home_end_left p span {
    font-weight: 700;
}

.home_end_right {
    position: relative;
}

.home_end_right button {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #4E9200;
    color: #4E9200;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    transition: all .4s ease;
    position: absolute;
    top: 30%;
    font-weight: 600;
}

.home_end_right button:hover {
    background: #4E9200;
    color: #fff;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    -moz-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
}

.home_fundament {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 5%;
}

.fund_h1 {
    display: flex;
    align-items: center;
}

.fund_h1 img {
    margin-right: 1rem;
}

.fundament_card {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.fundament_cards {
    width: 400px;
    min-height: 400px;
    margin: 0.4rem;
    padding: 1rem;
    border: 1px solid #4E9200;
    cursor: pointer;
    border-radius: 10px;
}

.fundament_cards img {
    width: 100%;
    transition: .4s ease;
    margin-bottom: 1rem;
}

.fundament_cards img:hover {
    scale: 1.1;
}

.fundament_cards p {
    font-size: 18px;
    line-height: 23px;
    color: #373435;
}

.fundament_cards h4 {
    color: black;
    font-family: "Oswald",sans-serif;
    font-size: 20px;
    margin-bottom: 1rem;
}

.home_footer {
    padding: 20px;
}

.footer {
    width: 100%;
    background: #111111;
    margin-top: 5%;
    padding: 2rem;
    color: #fff;
    border-radius: 20px;
}

.footer p a {
    color: #fff;
}

.footer_min {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.footer_links1 img {
    margin-bottom: 1rem;
}

.footer_tel {
    margin-bottom: 1rem;
}

.footer_tel span a {
    font-size: 18px;
    font-weight: 600;
    color: #4E9200  ;
}

.footer_tel span a:hover {
    text-decoration: underline;
}

.footer_btn button {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #4E9200;
    background: transparent;
    color: #fff;
    transition: all .4s ease;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 2rem;
}

.footer_btn button:hover {
    background: #4E9200;
    color:  #fff;
    -webkit-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    -moz-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
}

.foot_adres {
    margin-top: 1rem;
    width: 100%;
    max-width: 350px;
    color: #555;
}

.foot_cards p {
    margin-top: 0.4rem;
}

.foot_cards p i{
    margin-right: 0.5rem;
}

.footer_links2 h1 {
    font-size: 25px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer_links2 p {
    line-height: 30px;
}

.footer_bottom {
    width: 100%;
    max-width: 1200px;
    border-top: 1px solid #555555;
    padding-top: 1rem;
    margin: auto;
    margin-top: 2rem;
}

.footer_bottom p {
    line-height: 30px;
    color: #555;
}



@media (max-width:1100px) {
    .home_end_top {
        display: block;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        margin-top: 5%;
        padding: 20px;
    }

    .strelka_p img {
        display: none;
    }

    .home_end_left {
        font-size: 20px;
        line-height: 30px;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    .home_end_right {
        width: 350px;
        margin: auto;
        position: relative;
    }

    .home_fundament {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        margin-top: 5%;
        padding: 20px;
    }
}

@media (max-width:900px) {
    .fundament_card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 3rem;
    }    
}


@media (max-width:600px) {
    .footer_bottom p {
        line-height: 30px;
        color: #555;
        margin-top: 1.5rem;
    }

    .zakaz_zvonok {
        position: fixed;
        top: 5%;
        bottom: 5%;
        right: 0;
        left: 0;
        display: none;
        width: 90%;
        min-height: 400px;
        max-width: 500px;
        background: rgba(192,227,255,1);
        border-radius:  10px;
        padding: 2rem;
        margin: auto;
        z-index: 10;
    }
}

@media (max-width:420px) {
    .home_end_right img {
        width: 100%;
    }

    .fund_h1 h1 {
        font-size: 18px;
    }

    .home_end_left {
        font-size: 15px;
    }

    .home_end_top_h1 h1 {
        font-size: 18px;
    }

    .footer_bottom p {
        line-height: 21px;
        color: #555;
        margin-top: 1.5rem;
        font-size: 13px;
    }

    .footer p a {
        font-size: 14px;
        color: #fff;
    }

    .footer_links2 h1 {
        font-size: 20px;
        margin-top: 1.5rem;
        margin-bottom: 0.8rem;
    }

    .fundament_cards p {
        font-size: 15px;
        line-height: 23px;
        color: #373435;
    }
}
