* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, Helvetica, sans-serif;
    scrollbar-color: #4E9200 #333 !important;
}


.phone_number a {
    cursor: pointer;
    color: #fff;
}

.black_number a {
    color: #000000;
}

.black_number a:hover {
    text-decoration: underline;
}

.phone_number:hover {
    text-decoration: underline;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #4E9200 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #eee;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #4E9200;
    border-radius: 5px;
    /* border: 3px solid #fff5f5; */
  }












.home_container {
    width: 100%;
    position: relative;
}

.navbar {
    width: 100%;
    margin: auto;
    max-width: 1200px;
    padding-top: 20px;
    /* padding: 1rem 6rem; */
    padding: 20px;
} 

.header_img {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 900px;
    margin-bottom: 5%;
}

.header_bg {
    position: absolute;
    top: 0;
    background: url(https://vistroydom.ru/image/body_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 900px;
    z-index: -1;
}
/* .white_main{
    padding: 20px;
} */
.main_black{
    padding: 20px;
}
.white_main .nav_card {
    display: flex;
    color: #fff;
    font-size: 18px;
}
.main_black .nav_card {
    display: flex;
    color: black;
    font-size: 18px;
}

.nav_cards {
    margin-right: 2rem;
}

.nav_cards .nav_cards_h06 {
    margin-bottom: 0.3rem;
    font-size: 15px;
}

.nav_cards i {
    padding-right: 0.5rem;
    font-weight: 600;
    font-size: 20px;
}

.white_main .nav_btn button {
    background: transparent;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    border: 1px solid #4E9200;
    transition: all .4s ease;
}
.main_black .nav_btn button {
    background: transparent;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    cursor: pointer;
    color: #4E9200;
    font-weight: 700;
    border: 1px solid #4E9200;
    transition: all .4s ease;
}

.nav_btn button:hover {
    color: #fff;
    background: #4E9200;
    -webkit-box-shadow:0px 0px 123px 42px rgba(78,146,0,0.45);
    -moz-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
}

.main_black .nav_btn button:hover {
    color: #fff;
    background: #4E9200;
    -webkit-box-shadow:0px 0px 123px 42px rgba(78,146,0,0.45);
    -moz-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
}

.white_main .nav_btn p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.5rem;
}
.main_black .nav_btn p {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.5rem;
}

.nav_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.nav_links ul {
    display: flex;
    align-items: center;
}

.white_main .nav_links ul li a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-right: 2rem;
}
.main_black .nav_links ul li a {
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-right: 2rem;
}

.nav_adres {
    width: 100%;
    max-width: 380px;
    color: #fff;
}

.qora {
    min-height: 900px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8))!important;
    padding: 20px;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 4rem;
}

.home_left {
    width: 100%;
    max-width: 800px;
    margin-top: 300px;
}

.qora img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    max-width: 600px;
    width: 60%;
}
.navbar_color{
    color: #4E9200 !important;
}
.nav_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_header_h1 {
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: white;
}

.home_header_p {
    text-align: left;
    font-size: 24px;
    line-height: 30px;
    padding: 40px 0px;
    color: white;
}

.home_header_btns .home_btn1 {
    width: 100%;
    max-width: 234px;
    height: 61px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: #272727;
    background-color: #ffe100;
    margin: 8px;
    border: none;
    font-size: 16px;
    transition: .4s ease;
}

.home_btn1:hover {
    scale: 1.01;
}

.home_header_btns .home_btn2 {
    width: 100%;
    max-width: 290px;
    height: 61px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    background-color: #4E9200;
    font-size: 16px;
    margin: 8px;
    border: none;
    transition: .4s;
}

.home_btn2:hover {
    scale: 1.01;
}

.nav_btn2 {
    display: none;
}

.nav_links2 {
    position: fixed;
    top: 0;
    right: -500px;
    transition: 1s;
    background: #000000;
    width: 400px;
    height: 100vh;
    padding: 20px;
}
.nav_li img{
    margin-bottom: 20px;
}
.nav_media {
    display: none;
}

#close {
    font-size: 28px;
    color: #fff;
    transition: all .4s ease;
}

.nav_li {
    display: flex;
    justify-content: space-between;
}

.home_main_card {
    display: flex;
    width: 100%;
    max-width: 1650px;
    overflow: scroll;
    margin: 3rem;
}

.home_med_card {
    display: flex;
    width: 100%;
    /* max-width: 1650px; */
    overflow: scroll;
    margin: 3rem;
}

.home_med_cards {
    display: block;
    width: 100%;
    min-height: 400px;
    border-radius: 20px;
    background: #eee;
    position: relative;
    cursor: pointer;
}
.home_container .swiper-pagination-bullet{
    width: 20px !important;
    height: 20px !important;
}
.home_main_cards {
    display: block;
    width: 100%;
    min-height: 400px;
    border-radius: 20px;
    background: #eee;
    position: relative;
    cursor: pointer;
}

.home_main_cards img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: .5s;
}

.home_main_cards img:hover {
    scale: 1.01;
}

.home_main_text {
    padding: 1rem;
}
#mySwiper{
    margin-top: 80px;
}
.home_med_cards img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    transition: .5s;
}

.home_med_cards img:hover {
    scale: 1.01;
}

.home_med_text {
    padding: 1rem;
}

.cards_yellow {
    width: 100%;
    max-width: 150px;
    height: 30px;
    border-radius: 5px;
    background: #ffe100;
    color: #000000;
    display: flex;
    align-items: center !important ;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    padding: 5px;
    font-weight: 200;
}

.cards_yellow i {
    font-size: 18px;
    padding-right: 5px;
}

.home_main_cards_h05 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.home_main_narx {
    font-size: 20px;
    color: #4E9200;
    margin-top: 0.5rem;
    font-weight: 600;
    text-align: center;
}

.home_med_cards_h05 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.home_med_narx {
    font-size: 20px;
    color: #4E9200;
    margin-top: 0.5rem;
    font-weight: 600;
    text-align: center;
}

.home_end_bg {
    width: 100%;
    overflow: hidden;
    margin-top: 3rem;
}

.home_end_bg img {
    transition: .5s ease;
}

.home_end_bg img:hover {
    scale: 1.05 ;
}

.white_main .nav_card2 {
    display: none;
    color: #fff;
    font-size: 18px;
}
.main_black .bi-list{
    color: black;
}
.nav_links2 p{
    color: white;
    margin-top: 10px;
}










/* media css */
@media (max-width:1200px) {
    .home_header_dom {
        display: none;
    }
}
@media (max-width:1100px) {
    .home_header_h1 {
        font-weight: bold;
        font-size: 26px;
        text-align: left;
        color: white;
    }   

    .nav_logo img {
        width: 100%;
        max-width: 140px;
    }

    .home_left {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 200px;
    }

    /* .navbar {
        width: 100%;
        max-width: none;
        padding-top: 20px;
        margin-bottom: 5%;
        padding: 1rem 6rem;
    } */

    .nav_btn p {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        margin-top: 0.5rem;
    }
}


@media (max-width: 1000px){
.nav_links {
    display: none;
}
}
@media(max-width:500px){
    .home_header_btns .home_btn1 {
        width: 100%;
        max-width: 220px;
        padding: 20px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        color: #272727;
        background-color: #ffe100;
        margin: 8px;
        border: none;
        font-size: 15px;
        transition: .4s ease;
    }
    .home_btn2 {
        width: 100%;
        max-width: 220px;
        padding: 20px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        color: #fff;
        background-color: #4E9200;
        font-size: 15px;
        margin: 8px;
        border: none;
        transition: .4s;
    }
    .nav_links2{
        width: 100%;
    }
}
@media(max-width:720px){
    .nav_card{
        display: none !important;
    }
    .home_header_h1 {
        font-size: 20px;
    }
    .home_header_p{
        font-size: 18px;
    }
    .home_header_btns .home_btn1 {
        width: 100%;
        max-width: 150px;
        height: 55px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        color: #272727;
        background-color: #ffe100;
        margin: 8px;
        border: none;
        font-size: 15px;
        transition: .4s ease;
    }
    .home_btn2 {
        width: 100%;
        max-width: 220px;
        height: 55px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        color: #fff;
        background-color: #4E9200;
        font-size: 15px;
        margin: 8px;
        border: none;
        transition: .4s;
    }
}
@media(min-width:1500px){
    .home_card_black .top-section{
        height: 300px !important;
    }
}
@media (min-width: 300px ) and (max-width:600px){
    .home_card_black .top-section {
        height: 60vw !important;
    }
    }

@media (min-width: 600px) and (max-width:900px){
    .home_card_black .top-section {
        height: 33vw !important;
    }   
}
@media (min-width: 900px) and (max-width:1500px){
    .home_card_black .top-section {
        height: 20vw !important;
        }
    }

@media (max-width:900px) {
    .header_img{
        min-height: 700px;
    }
    .qora{
        min-height: 700px;
    }
    .nav_links {
        display: none;
    }
    .home_left{
        margin-top: 0;
    }
    .nav_card {
        display: none;
    }
    .home_main{
        margin-top: 50px;
    }
    .nav_btn {
        display: none;
    }

    .nav_btn2 {
        display: block;
    }

    .white_main .nav_card {
        display: none;
        color: #fff;
        font-size: 18px;
    }

    .white_main .nav_card2 {
        display: block;
        color: #fff;
        font-size: 18px;
        margin-top: 1rem;
    }

    .nav_card2 .nav_cards2 {
        margin-bottom: 1rem;
    }

    .nav_link2 {
        width: 100%;
        min-height: 109vh;
        background: #000000;
    }

    .nav_link2 ul {
        width: 100%;
        display: block;
    }
    
    .nav_links2 ul li a {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid #4E9200;
        padding-bottom: 0.5rem;
    }

    .nav_links2 ul li {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .nav_media {
        display: flex;
        color: #fff;
        font-size: 35px;
        transition: all .4s ease;
    }

    .nav_media:hover {
        color: #ffe100;
    }

    .nav_btn2 button {
        background: transparent;
        width: 200px;
        height: 45px;
        border-radius: 30px;
        margin: 10px 0px;
        cursor: pointer;
        color: #fff;
        font-weight: 700;
        border: 1px solid #4E9200;
        transition: all .4s ease;
    }
    
    .nav_btn2 button:hover {
        color: #fff;
        background: #4E9200;
        -webkit-box-shadow:0px 0px 123px 42px rgba(78,146,0,0.45);
        -moz-box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
        box-shadow: 0px 0px 123px 42px rgba(78,146,0,0.45);
    }
    
    .nav_btn2 p {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
        margin-top: 0.5rem;
    }
}

@media (max-width:750px) {
    .home_header_h1 {
        font-weight: bold;
        font-size: 20px;
        text-align: left;
        padding: 16px;
        color: white;
    }

    .home_header_p {
        text-align: left;
        font-size: 20px;
        line-height: 30px;
        padding: 16px 16px 32px;
        color: white;
    }
}

@media (max-width:420px) {
    .home_header_p {
        text-align: left;
        font-size: 16px;
        line-height: 30px;
        padding: 16px 16px 32px;
        color: white;
    }   
.home_main{
    margin-top: 0px;
}
    .header_img {
        position: relative;
        width: 100%;
        min-height: 500px;
        /* margin-bottom: 5%; */
    }

    .home_main_cards {
        display: block;
        min-width: fit-content;
        width: 282px;
        min-height: 400px;
        border-radius: 20px;
        background: #eee;
        margin: 0.7rem;
        position: relative;
        cursor: pointer;
    }

    .home_med_cards {
        display: block;
        min-width: fit-content;
        width: 282px;
        min-height: 400px;
        border-radius: 20px;
        background: #eee;
        margin: 0.7rem;
        position: relative;
        cursor: pointer;
    }

    .home_header_h1 {
        font-weight: bold;
        font-size: 10px;
        text-align: left;
        padding: 16px;
        color: white;
        margin-top: 6rem;
    }

    .home_header_btns .home_btn1 {
        width: 100%;
        max-width: none;
        height: 61px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        color: #272727;
        background-color: #ffe100;
        border: none;
        font-size: 16px;
        transition: .4s ease;
        margin: auto;
        margin-bottom: 1rem;
    }

    .header_bg {
        position: absolute;
        top: 0;
        background: url(https://vistroydom.ru/image/body_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 620px;
        z-index: -1;
    }

    .qora {
        min-height: 500px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8))!important;
        padding: 20px;
        z-index: -1;
    }

    .home_header_dom {
        position: relative;
        z-index: 1;
    }

    .home_left {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .qora img {
        position: absolute;
        right: 0;
        max-width: 600px;
        width: 100%;
    }

    .home_header_btns .home_btn2 {
        width: 100%;
        max-width: none;
        height: 61px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        color: #fff;
        background-color: #4E9200;
        border: none;
        transition: .4s;
        margin: auto;
    }
}









.home_main{
    padding: 20px !important;
}
/* swiper css  */
.home_container .swiper {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding-top: 120px !important;
  }

  .home_container .swiper-slide {
    text-align: left;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
.white_main{
    overflow: hidden;
}
  .home_container .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .nav_links ul li a:hover{
    color: #4E9200 !important;
  }
  .red_hover:hover{
    color: #4E9200 !important;
}
.red_hover{
    transition: 0.5s;
}
  .nav_links ul li a{
    transition: 0.5s;
  }
  .home_container .swiper-button-next, .home_container .swiper-rtl .home_container .swiper-button-prev{
    right: 0px !important;
    top: 40px !important;
    background-color: #333 !important;
    padding: 20px !important;
    border-radius: 5px;
    font-size: 15px !important;
  }
  .home_container .swiper-button-prev, .home_container .swiper-rtl .home_container .swiper-button-next{
    right: 50px !important;
    left: auto !important;
    top: 40px !important;
    background-color: #333 !important;
    padding: 20px !important;
    font-size: 15px !important;
    border-radius: 5px;
  }
  .home_container .swiper-button-next:after, .home_container .swiper-button-prev:after{
    font-size: 15px !important;
    color: white !important;
  }


  .home_card_black {
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    background: #333;
    padding: 10px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .home_card_black:hover .top-section {
    background-size: 120% 120% !important;
  }
  
  .home_card_black .top-section {
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    transition: 1s;
    height: 18vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(4, 159, 187) 0%, rgb(80, 246, 255) 100%);
    position: relative;
  }
  
  .home_card_black .top-section .border {
    border-bottom-right-radius: 10px;
    height: 30px;
    width: 130px;
    background: white;
    background: #333;
    position: relative;
    transform: skew(-40deg);
    box-shadow: -10px -10px 0 0 #333;
  }
  
  .home_card_black .top-section .border::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    right: -15px;
    background: rgba(255, 255, 255, 0);
    border-top-left-radius: 10px;
    box-shadow: -5px -5px 0 2px #333;
  }
  
  .home_card_black .top-section::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(255, 255, 255, 0);
    height: 15px;
    width: 15px;
    border-top-left-radius: 15px;
    box-shadow: -5px -5px 0 2px #333;
  }
  
  .home_card_black .top-section .icons {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .home_card_black .top-section .icons .logo {
    height: 100%;
    width: 100%;
    color: white;
    padding-left: 10px;
    font-weight: 700;
    font-size: 15px;
  }
  .bottom-section button{
    margin: auto;
    display: flex;
    margin-top: 20px;
    width: 60%;
    justify-content: center;
    height: 45px;
    align-items: center;
    border-radius: 8px;
    border: none;
    background: none;
    color: white;
    border: 2px solid white;
    transition: 0.7s;
    cursor: pointer;
  }
  .bottom-section button:hover{
    background-color: white;
    color: black;
  }
  .home_card_black .top-section .icons .logo .top-section {
    height: 100%;
  }
  
  .home_card_black .top-section .icons .social-media {
    height: 100%;
    padding: 8px 15px;
    display: flex;
    gap: 7px;
  }
  
  .home_card_black .top-section .icons .social-media .svg {
    height: 100%;
    fill: #333;
  }
  
  .home_card_black .top-section .icons .social-media .svg:hover {
    fill: white;
  }
  
  .home_card_black .bottom-section {
    padding: 20px 5px;
  }
  
  .home_card_black .bottom-section .title {
    display: block;
    font-size: 17px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
  }
  
  .home_card_black .bottom-section .row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .home_card_black .bottom-section .row .item {
    flex: 30%;
    text-align: center;
    padding: 5px;
    color: white;
  }
  
  .home_card_black .bottom-section .row .item .big-text {
    font-size: 14px;
    display: block;
  }
  
  .home_card_black .bottom-section .row .item .regular-text {
    font-size: 14px;
  }
  
  .home_card_black .bottom-section .row .item:nth-child(2) {
    border-left: 1px solid rgba(255, 255, 255, 0.126);
    border-right: 1px solid rgba(255, 255, 255, 0.126);
  }
  .swiper-slide img{
    width: 100%;
  }